# Sublime text files
*.sublime-workspace

# Python build files
__pycache__

# Ignore build variables
.terraform
.variables.sh
variables.mk

# Terraform state files
*.tfstate*
*.tfvars
*.tfplan

# Other filesystem cruft
.DS_Store
